<!DOCTYPE html>
<html ng-app='myApp'>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/fullcalendar.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
        <script type="text/javascript" src="lib/angular.js"></script>
        <script type="text/javascript" src="lib/moment.js"></script>
        <script type="text/javascript" src="lib/underscore.js"></script>
        <script src="//rawgit.com/angular-ui/ui-calendar/master/src/calendar.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.min.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
        <script type="text/javascript" src="app.js"></script>

        <title>Omnify calendar</title>
    </head>
    <body ng-controller='myController'>
        <div class="container fluid">
            <div class="row">
                <div class="pull-left">
                    <button class="btn-default white-text" ng-click="changeView('month')">MONTH</button>
                    <button class="btn-default white-text" ng-click="changeView('basicWeek')">WEEK</button>
                    <button class="btn-default white-text" ng-click="changeView('basicDay')">DAY</button>
                  </div>
            </div>
            <div class="row">
                <h1>Calendar events</h1>
            </div>
            <div class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSource" calendar="myCalendar"></div>
        </div>
    </body>
</html>
